.primary_button {
  .primary_button-shadow,
  .primary_button-shadow2 {
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    .primary_button-shadow {
      opacity: 0;
    }
    .primary_button-shadow2 {
      opacity: 1;
    }
  }
}
