.primary_button {
  background: radial-gradient(
    207.57% 169.88% at 47.54% 120.83%,
    #fbc1c9 0%,
    rgba(251, 193, 201, 0) 100%
  );
}

.primary_button-inner {
  background: radial-gradient(96.03% 185% at 44.03% -39.17%, #16161a 35%, #6e6e81 100%);
}

.home-hero_bg {
  background: radial-gradient(
    58.45% 92.78% at 48.3% 92.78%,
    rgba(22, 22, 26, 0) 1.81%,
    #3164ff 48.18%,
    #ffc2d9 64.4%,
    #ffd4ac 83.72%,
    #ffe8d4 85.38%,
    #f3f0ec 100%
  );
}

.testimonial_bg {
  background: radial-gradient(
    87.21% 129.72% at 48.3% 114.76%,
    rgba(22, 22, 26, 0) 34.19%,
    #3164ff 48.18%,
    #ffc2d9 64.4%,
    #ffd4ac 83.72%,
    #ffe8d4 85.38%,
    #f3f0ec 100%
  );
}

.test {
  background: radial-gradient(
    188.05% 84.03% at 50% 93.52%,
    #16161a 27.92%,
    #3164ff 43.47%,
    #ffc2d9 57.03%,
    #ffd4ac 65%,
    #ffe8d4 75%,
    #faf9f7 100%
  );
}
