.primary_button {
  .primary_button-shadow,
  .primary_button-shadow2 {
    transition: opacity 0.3s ease-in-out;
  }

  .button-text {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  &:hover {
    .button-text {
      &.is-1 {
        opacity: 0;
        transform: translateY(-200%);
      }
      &.is-2 {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }

  &:hover {
    .primary_button-shadow {
      opacity: 0;
    }
    .primary_button-shadow2 {
      opacity: 1;
    }
  }
}
