html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  scrollbar-width: none !important;
}
html body {
  -ms-overflow-style: none;
}

html body::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.scrollbar {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10000;
}

.scrollbar .inner {
  height: 100%;
  position: relative;
}

.scrollbar .thumb {
  transition: opacity 0.6s ease-in-out;
  min-height: 5rem;
  width: 6px;
  background-color: var(--brand-color--premium);
  position: absolute;
  right: 4px;
  border-radius: 100vw;
  opacity: 0;
  cursor: grab;
}
