@use './components/button.scss';
@use './components/scrollbar.scss';

.home-hero_section {
  .home-hero_component {
    opacity: 0;
  }
  .home-hero_sphere {
    opacity: 0;
  }
  .home-hero_illu {
    opacity: 0;
  }
}

.logo {
  .logo_picto {
    transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &:hover {
    .logo_picto {
      transform: rotate(180deg);
    }
  }
}
.founders_section {
  .founders_logo {
    .founders_logo1,
    .founders_logo2 {
      transition: opacity 0.6s ease;
    }
    .founders_logo-glow {
      transition: opacity 0.8s ease;
    }
    &:hover {
      .founders_logo1 {
        opacity: 0;
      }
      .founders_logo2 {
        opacity: 1;
      }
      .founders_logo-glow {
        opacity: 1;
      }
    }
  }
}

.home-cards_component {
  .home-card_item {
    .home-card_bg {
      transition: opacity 0.3s ease;
    }
    &:hover {
      .home-card_bg {
        opacity: 1;
      }
    }
  }
}

.role_container {
  .role-collection_item {
    .role-collection_arrow {
      transition: transform 0.3s ease;
    }
    &:hover {
      .role-collection_arrow {
        transform: translateX(5px);
      }
    }
  }
}

.wave {
  background: radial-gradient(
    188.05% 84.03% at 50% 93.52%,
    #16161a 27.92%,
    #3164ff 43.47%,
    #ffc2d9 57.03%,
    #ffd4ac 65%,
    #ffe8d4 75%,
    #faf9f7 100%
  );
}

.footer {
  .footer_link {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -3px;
      left: 0;
      background-color: white;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s ease;
    }
    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
