@use './components/button.scss';
@use './components/scrollbar.scss';

.founders_section {
  .founders_logo {
    .founders_logo1,
    .founders_logo2 {
      transition: opacity 0.6s ease;
    }
    .founders_logo-glow {
      transition: opacity 0.8s ease;
    }
    &:hover {
      .founders_logo1 {
        opacity: 0;
      }
      .founders_logo2 {
        opacity: 1;
      }
      .founders_logo-glow {
        opacity: 1;
      }
    }
  }
}

.home-cards_component {
  .home-card_item {
    .home-card_bg {
      transition: opacity 0.3s ease;
    }
    &:hover {
      .home-card_bg {
        opacity: 1;
      }
    }
  }
}

.role_container {
  .role-collection_item {
    .role-collection_arrow {
      transition: transform 0.3s ease;
    }
    &:hover {
      .role-collection_arrow {
        transform: translateX(5px);
      }
    }
  }
}
